{% extends 'blog/post_detail.html' %}

{% block content %}
    <h1 class = "text"> New Comment </h1>
    <form method = "post" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class = "button"> Save </button>
    </form>
{% endblock %}