{% extends 'blog/base.html' %}
{% block content %}
<div class = "text center">
    <h1 >{{post.title}} </h1>
        <p >{{post.created_date}} </p>
        <h2 class = "fsmall">{{post.text}}</h2>

    <a type = "button" href="{% url 'post_like' pk=post.pk %}" class = "button"> {{post.likes}} like ❤ </a>
    <a type = "button" href="{% url 'post_main' %}" class = "button"> Back </a>
    <a type = "button" href="{% url 'post_delete' pk=post.pk %}" class = "button"> Delete </a>
    <a type = "button" href="{% url 'add_comment' pk=post.pk %}" class = "button"> Comment </a>
    <ul>
    {% for comment in comments %}

    <li class = "text">
        <div class = "border" >
        <h2 class = "fsmall"> this guy comments: {{comment.text}}</h2>
    </div>
    </li>

    {%endfor%}
    </ul>

</div>
{% endblock %}