{% extends 'blog/base.html' %}

{% block content %}

<ul>
    {% for post in posts%}

    <li class = "text">
        <div class = "border" >
        <h1 > <a href = "{% url 'post_detail' pk=post.pk %}">  {{post.title}} </a> </h1>
        <p>{{post.created_date}} </p>
        <h2 class = "fsmall"> this guy says: {{post.text}}</h2>
        <h3>{{post.likes}}❤ </h3>
    </div>
    </li>

    {%endfor%}
</ul>


{% endblock %}