
body{
	background-color:#222223;
}

.text{
    font-family: 'Oswald', sans-serif;
	color:white;
	font-size:15 rem;
}

.border{
border: 10px solid purple;
 padding: 30px;
 margin: 30px;
}

.button{
	width: 100px;
	height:30px;
	padding:0px 10px;
	margin:10px 20px;
	cursor:pointer;
	display:inline-block;
	color:#FFF;
	font-size:1em;
	border:1px solid #eee;
	background:#222223;
	border-radius:4px;
	line-height:2em;
	border:1px solid #aaa;
	text-decoration:none;
	text-align: center;
	font-family: 'Oswald', sans-serif;
		color:white;
		font-size:18px;
	-webkit-transition: all 0.3s linear;
     -khtml-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}

.fsmall{
font-size: 18px;
}

.center{
text-align: center;
}